:root{
    /*colors*/
    --color-text:#fff;
    --color-primary:#576cbc;
    --color-secondary:#19376d;
    --color-bg:#041d2d;
    --color-dark:#0b2447;

    /* fonts */
    --font-roboot:"Roboto";


}